---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Framework from '../components/Framework.astro';
import AudienceTabs from '../components/AudienceTabs.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Founder from '../components/Founder.astro';
import Objections from '../components/Objections.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Framework />
    <AudienceTabs />
    <HowItWorks />
    <Features />
    <Testimonials />
    <Founder />
    <Objections />
    <FinalCTA />
  </main>
  <Footer />
</Layout>